{% extends 'profile.html' %}


{% block content %}
    <table style="background-color: white;">

        <tr>
            <td>IDusers</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
            <td>Password</td>
            <td>Date_created</td>
            <td>Active</td>
        </tr>

        <tr>
            <td>{{ sqltab[1]['idusers']}}</td>
            <td>{{ sqltab[1]['firstname']}}</td>
            <td>{{ sqltab[1]['lastname']}}</td>
            <td>{{ sqltab[1]['email']}}</td>
            <td>{{ sqltab[1]['password']}}</td>
            <td>{{ sqltab[1]['date_created']}}</td>
            <td>{{ sqltab[1]['active']}}</td>
        </tr>


        <tr>
            <td>{{ sqltab[2]['idusers']}}</td>
            <td>{{ sqltab[2]['firstname']}}</td>
            <td>{{ sqltab[2]['lastname']}}</td>
            <td>{{ sqltab[2]['email']}}</td>
            <td>{{ sqltab[2]['password']}}</td>
            <td>{{ sqltab[2]['date_created']}}</td>
            <td>{{ sqltab[2]['active']}}</td>
        </tr>



        <tr>
            <td>{{ sqltab[3]['idusers']}}</td>
            <td>{{ sqltab[3]['firstname']}}</td>
            <td>{{ sqltab[3]['lastname']}}</td>
            <td>{{ sqltab[3]['email']}}</td>
            <td>{{ sqltab[3]['password']}}</td>
            <td>{{ sqltab[3]['date_created']}}</td>
            <td>{{ sqltab[3]['active']}}</td>
        </tr>

        <tr>
            <td>{{ sqltab[4]['idusers']}}</td>
            <td>{{ sqltab[4]['firstname']}}</td>
            <td>{{ sqltab[4]['lastname']}}</td>
            <td>{{ sqltab[4]['email']}}</td>
            <td>{{ sqltab[4]['password']}}</td>
            <td>{{ sqltab[4]['date_created']}}</td>
            <td>{{ sqltab[4]['active']}}</td>
        </tr>

        <tr>
            <td>{{ sqltab[5]['idusers']}}</td>
            <td>{{ sqltab[5]['firstname']}}</td>
            <td>{{ sqltab[5]['lastname']}}</td>
            <td>{{ sqltab[5]['email']}}</td>
            <td>{{ sqltab[5]['password']}}</td>
            <td>{{ sqltab[5]['date_created']}}</td>
            <td>{{ sqltab[5]['active']}}</td>
        </tr>
    </table>
{% endblock %}